/* Remove button color */
#dropdown-basic {
  background-color: transparent;
  border: none;
  color: black;
}

/* Customize dropdown toggle appearance */
#dropdown-basic > .btn-success {

  border: 1px solid #28a745; /* Change border color */
}

/* Show all items on hover */
#dropdown-basic:hover .dropdown-menu {
  display: block;
  opacity: 1;
  visibility: visible;
}

/* Customize dropdown menu appearance */
#dropdown-basic .dropdown-menu {
  display: none; /* Hide by default */
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease; /* Add a smooth transition effect */
}

#dropdown-basic .dropdown-item {
  color: #333; /* Change text color */
  &:hover {
      background-color: #28a745; /* Change background color on hover */
      color: #fff; /* Change text color on hover */
  }
}

.dropend .dropdown-toggle {
 
  margin-left: 1em;
}
.dropdown-item:hover {
  background-color: lightsalmon;
  color: #fff;
}
.dropdown .dropdown-menu {
  display: none;
}
.dropdown:hover > .dropdown-menu,
.dropend:hover > .dropdown-menu {
  display: block;
  margin-top: 0.125em;
  margin-left: 0.125em;
}
@media screen and (min-width: 769px) {
  .dropend:hover > .dropdown-menu {
    position: absolute;
    top: 0;
    left: 100%;
  }
  .dropend .dropdown-toggle {
    margin-left: 0.5em;
  }
}